* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  
  html {
    background-color: #A7C7E7;
  }
  
  main {
    color:#10002b;
    font-family: "Gaegu", sans-serif;
    text-align:center;
    max-width: 90%;
    min-height:600px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 100px;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    color:#10002b;
    font-family: "Gaegu", static;
    height:120px;
    line-height:120px;
    text-align:center;
    overflow:hidden;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px; /* Adjust as needed for spacing */
    position: relative;
  }

  body{
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    cursor: url('assets/rusty_optimized.png'), auto;
  }
  
  h2{
    font-size:45px;
    padding-top:10px;
  }

  h1{
    font-size:60px;
  }
  
  .projects{
    font-size:35px;
    font-family: "Gaegu", static;
  }
  
  .posts {
    background-color:#03045e;
    color:#ada7ff;
    padding:15px;
  }
  
  /* STYLE TEXT */
  a {
    color:#edf2fb;
  }
  
  .links {
    color:#0077b6;
  }
  
  p{
    font-size:22px;
    font-family:"Gaegu", static;
    margin-top:0;
    margin-bottom:0;
    margin-left:20%;
    margin-right:20%;
    padding-bottom:10px;
    padding-top:10px;
  }
  .date {
    font-size:20px;
  }
  
  /* STYLE IMAGES */
  img{
    margin-bottom:5px;
    margin-top:5px;
  }
  
  .creations {
    border:0px;
    border-radius:5%;
  }
  .image-layout {
    justify-content:space-between;
    position: relative;
    display: inline-block;
    overflow: hidden; 
  }

  #me {
    margin: 0; /* Remove any margin around the image */
    padding: 0; /* Remove any padding around the image */
  }
  
  .image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start at the center, but hidden */
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    text-align: center;
    transition: transform 0.5s ease, background 0.3s ease; /* Smooth animation */
  }

  .image-layout:hover .image-caption.show-caption {
    /* transform: translate(-50%, -50%) scale(1); Scale up to become visible */
    transform: translate(-50%, -50%) scale(1);
    background: rgba(255, 165, 0, 0.9);
    opacity: 1; /* Make it visible on hover */
    visibility: visible;
  }

  .image-caption.show-caption {
    animation: wobble 0.5s ease-in-out;
  }

  @keyframes wobble {
    0%, 100% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(-5deg); }
    50% { transform: translate(-50%, -50%) rotate(5deg); }
    75% { transform: translate(-50%, -50%) rotate(-5deg); }
  }

  .countdown h2, .countdown p {
    margin: 0;
    padding: 0;
  }
  
  .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
  }
  
  .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  /* STYLE NAV BAR */
  /* Right-aligned section inside the top navigation */
  .topnav{
    float: right;
    font-size:30px;
    font-family: "Gaegu", static;
    text-align:center;
    list-style:none;
    background-color:#A7C7E7;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Move the navbar to the right */
    flex-grow: 1;
    transform: translateY(-50%);
    position: absolute;
    right: 0; /* Stick it to the right */
    top: 10%; /* Vertically center it */
  }

  .topnav a{
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
  
  .topnav a.active {
    color: white;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  ul,ol{
    list-style:none;
    background-color:#014f86;
    overflow: hidden;
    padding:1em;
  }
  
  li {
    display: inline;
  }
  
  li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding:1em;
  }
  
  li a:hover {
    background-color: #bbd0ff;
  }

/* COUNTDOWN */
.countdown{
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
}

#intro{
  font-size:30px;
  font-family: "Gaegu", static;
  margin-top:0;
  margin-bottom:15px;
  margin-left:18%;
  margin-right:18%;
  margin-bottom: 5px; /* Reduce the space between the intro text and the next element */

}

/* FAQ Section*/

.faq-section {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #edf2fb;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 10px 0;
  color: #555;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question::after {
  content: " -";
}

.faq-question::after {
  content: " +";
  float: right;
}

/* STYLE FOR FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0; /* Reduced padding for a smaller footer */
  z-index: 1000; /* Ensure it stays above other content */
  display: none; /* Initially hidden */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin: 0 10px; 
}

.social-icon img {
  width: 40px; 
  height: 40px;
  transition: opacity 0.3s ease; 
  border: none;
}

.small-text {
  position: absolute;
  bottom: 0; /* Place at the bottom */
  right: 10px; /* Place to the right */
  font-size: 20px; /* Small text size */
  color: white;
  font-family: "Gaegu", static;
}


/*SLIDER*/

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
  height: 100vh;
}

.slider-container {
  width: 100%;
  height: 100vh; /* Allow slider to take up 60% of the viewport */
  overflow: hidden;
  position: relative;
  margin-top: 80px; /* Adjust this value based on your navbar height */

}

.slider {
  display: flex;
  height: 120%;
  width: 300%; /* Since we have 3 slides */
  transition: transform 0.3s ease;
}

.slide {
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  position: relative;
}

#slide-1 {
  background-image: url('/assets/background2.jpeg');
}

#slide-2 {
  background-image: url('/assets/background2.jpeg');
}

#slide-3 {
  background-image: url('/assets/background2.jpeg');
}

/* Scrollable content below the slider */
.content {
  padding: 20px;
}

/* Add a peek effect for slides */
.slider-container .slide {
  width: 90vw;
  margin-right: 5vw; 
}

/*Portfolio Page*/
body.portfolio {
  background-image: url('/assets/toki.jpg');
}

h1.portfolio{
  color: whitesmoke;
  text-align: left;
}